%head
  - flash && flash.each do |key, value|
    %div{:class => "#{flash_alert_class(key)} alert alert-dismissible"}
      = value.html_safe
      %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "alert", :type => "button"}
    %br
  %nav{"aria-label" => "breadcrumb"}
    = breadcrumb
%body.p-2
  %ul.nav.nav-tabs.mb-3
    = menu_for((@abstract_model ? (@object.try(:persisted?) ? :member : :collection) : :root), @abstract_model, @object)
    = content_for :contextual_tabs
  = yield
